@charset "utf-8";
/* CSS Document */
body{
margin:0px;
padding:0px;
background-color:#FFFFFF;
}

#wrapper{
background-color:#d8f3c9;
width:1000px;
margin:0 auto;
}

#header{
background-color:#76b852;
width:1000px;
height:207px;
border-bottom:#FFFFFF solid 3px;
}

#header img{
	 width:814px;
	  height:205px;
	  margin-left:95px;
	  position:absolute;
	  }

#nav{
margin:0px;
padding:0px;
width:998px;
background-color:#76b852;
height:27px;
border:#000000 solid 1px;
}

#nav ul{
margin:0px;
padding:0px;
}

#nav ul li{
float:left;
margin:0px;
padding:0px;
list-style:none;
}

#nav ul li a{
background-color:#76b852;
display:block;
height:25px;
text-decoration:none;
color:#FFFFFF;
width:140px;
text-align:center;
padding-top:2px;
font-weight:bold;
}

#nav ul li a:hover{
background-color:#FFFFFF;
color:#000000;
}


#container{
background-color:#FFFF99;
width:1000px;
margin:0px;
padding:0px;
margin-top:4px;
}

#left{
float:left;
background-color:#FFFFFF;
width:200px;
}

#right{
background-color:#d8f3c9;
float:right;
width:796px;
}

#title1{
background-color:#76b852;
color:#FFFFFF;
width:200px;
height:23px;
font-weight:bold;
text-align:center;
}

#leftnav{
margin:0px;
padding:0px;
}

#leftnav ul{
margin:0px;
padding:0px;
}

#leftnav ul li{
list-style:none;
margin-top:2px;
}

#leftnav ul li a{
text-decoration:none;
display:block;
color:#76b852;
font-weight:bold;
height:22px;
width:198px;
border:#999999 solid 1px;
text-align:center;
}

#leftnav ul li a:hover{
background-color:#d8f3c9;
color:#000000;
}


#title{
background-color:#76b852;
color:#FFFFFF;
width:790px;
height:23px;
font-weight:bold;
padding-left:5px;
}

#main{
width:790px;
margin-top:2px;
margin-left:2px;
}

#main a{
	text-decoration:none;}

#footer{
background-color:#76b852;
width:1000px;
height:50px;
padding-top:10px;
text-align:center;
font-weight:bold;
color:#FFFFFF;
margin-top:3px;
}
